---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: &app gmvitabot
  namespace: telegram
  labels:
    app.kubernetes.io/name: *app
    app.kubernetes.io/instance: *app
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: *app
      app.kubernetes.io/instance: *app
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: *app
        app.kubernetes.io/instance: *app
    spec:
      containers:
        - name: *app
          image: ghcr.io/elraro/gmvitabot:latest@sha256:d21f296001abd31327cc091708a6657e0f736cc51ffbd767a36b0076c0e4a90f
          imagePullPolicy: IfNotPresent
          env:
            - name: TELEGRAM_BOT_TOKEN
              value: "${SECRET_GMVITABOT_TOKEN}"
            - name: WEBHOOK_HOST
              valueFrom:
                secretKeyRef:
                  key: webhookhost
                  name: gmvitabot
            - name: WEBHOOK_PORT
              valueFrom:
                secretKeyRef:
                  key: webhookport
                  name: gmvitabot
            - name: WEBHOOK_LISTEN
              value: "0.0.0.0"
            - name: WEBHOOK_LISTEN_PORT
              value: "8080"
          resources:
            requests:
              cpu: 15m
              memory: 105Mi
            limits:
              cpu: 30m
              memory: 150Mi
      restartPolicy: Always
      terminationGracePeriodSeconds: 60
