---
name: KICS

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - master

jobs:
  build:
    name: KICS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Mkdir myResults
        run: mkdir -p myResults
      - name: run kics Scan
        uses: Checkmarx/kics-github-action@6b6fc1162a0f06704e4cca6e5f8e008ab20fabe5 # v2.1.16
        with:
          path: cluster
          output_path: myResults/
          output_formats: 'json,sarif'
          ignore_on_exit: results
          token: ${{ github.token }}
          enable_comments: true
      - name: Show results
        run: |
          cat myResults/results.sarif
          cat myResults/results.json
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@014f16e7ab1402f30e7c3329d33797e7948572db # v4
        with:
          sarif_file: myResults/results.sarif
