---
name: KICS

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - master

jobs:
  build:
    name: KICS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Mkdir myResults
        run: mkdir -p myResults
      - name: run kics Scan
        uses: Checkmarx/kics-github-action@00def9108246ec656aea725db2167522d26a99d2 # v2.1.19
        with:
          path: cluster
          output_path: myResults/
          output_formats: 'json,sarif'
          ignore_on_exit: results
          token: ${{ github.token }}
          enable_comments: true
      - name: Show results
        run: |
          cat myResults/results.sarif
          cat myResults/results.json
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v4
        with:
          sarif_file: myResults/results.sarif
