---
name: KICS

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - master

jobs:
  build:
    name: KICS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Mkdir myResults
        run: mkdir -p myResults
      - name: run kics Scan
        uses: Checkmarx/kics-github-action@00def9108246ec656aea725db2167522d26a99d2 # v2.1.19
        with:
          path: cluster
          output_path: myResults/
          output_formats: 'json,sarif'
          ignore_on_exit: results
          token: ${{ github.token }}
          enable_comments: true
      - name: Show results
        run: |
          cat myResults/results.sarif
          cat myResults/results.json
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@6bc82e05fd0ea64601dd4b465378bbcf57de0314 # v4
        with:
          sarif_file: myResults/results.sarif
